/*body section (start) */

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    background-color: #f1f6f9;
}



::-webkit-scrollbar{

    width: 10px;
 
 }
 
 
 ::-webkit-scrollbar-thumb{
     background-color: #E50168;
 }

 


html{
    scroll-behavior: smooth;
}


@media  screen and (max-width : 623px) {
    ::-webkit-scrollbar{

        width: 0px;
     
     }
     
     
     ::-webkit-scrollbar-thumb{
         background-color: transparent;
     }
     
}


.f-link{
    text-decoration: none;
}

.f-link:focus{
    text-decoration: none;

}

.f-link:hover{
    text-decoration: none;

}


.member-social-footer:focus {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #14274e;
}

.member-social-footer:hover {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #14274e;
}


/* Body section (end) */








